$blue: #0b93f6;
$gray: #e5e5ea;

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 80vh;
}

.chat {
  display: flex;
  flex: 3;
  flex-direction: column;
  border-width: 1px;
  border-color: #ccc;
  border-right-style: solid;
  border-left-style: solid;
  border: 1.5px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.bubble {
  display: flex;
  border: 0.5px solid black;
  border-radius: 10px;
}

.speech-bubble {
  position: relative;
  border-radius: 50em;
  margin: 10px 20px;
  padding: 10px 20px;

  &-right {
    float: right;
    color: white;
    background: $blue;
    &:before {
      content: '';
      position: absolute;
      // z-index: -1;
      bottom: -2px;
      right: -7px;
      height: 20px;
      border-right: 20px solid $blue;
      border-bottom-left-radius: 16px 14px;
      transform: translate(0, -2px);
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: -2px;
      right: -56px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-left-radius: 10px;
      transform: translate(-30px, -2px);
    }
  }

  &-left {
    float: left;
    background: $gray;
    color: black;
    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      bottom: -2px;
      left: -7px;
      height: 20px;
      border-left: 20px solid $gray;
      border-bottom-right-radius: 16px 14px;
      transform: translate(0, -2px);
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 3;
      bottom: -2px;
      left: 4px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-right-radius: 10px;
      transform: translate(-30px, -2px);
    }
  }
}

.uuid {
  width: 100%;
  color: darkblue;
  font-size: 12px;

  &-right {
    float: right;
  }
  &-left {
    float: left;
  }
}

.input-button {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .msg-button {
    margin: 0 20px;
    width: 30vw;
  }
}
